@using Microsoft.AspNetCore.Components
@using OracControl.Services;
@using OracControl.Pages;
@inject IOscServer server
@implements IDisposable

    <div class="@DisplayStatus">
        <div class="d-flex justify-content-between">
            <div class="param-text small font-weight-bold">@(Description)</div>
            <div class="param-text small font-weight-bold">@(Value)</div>
        </div>
        <PieControl OscAddressReceive="@(Prefix + "Ctrl")" OscAddressSend="@(Prefix + "Ctrl")" />
    </div>

@functions {
    [Parameter] public string Prefix { get; set; }

    public string Value { get; set; }

    public string Description { get; set; }

    public string DisplayStatus { get; set; } = "d-none";

    public void OnMessageReceived(object sender, OscMessage msg)
    {

        if (msg.Address == $"{Prefix}Value")
        {
            Value = (string)msg.Arg[0];
            if (string.IsNullOrEmpty(Value))
            {
                Disable();
            }
            else
            {
                Enable();
            }
            base.Invoke(StateHasChanged);
        }

        if (msg.Address == $"{Prefix}Desc")
        {
            Description = (string)msg.Arg[0];
            if (string.IsNullOrEmpty(Description))
            {
                Disable();
            }
            else
            {
                Enable();
            }
            base.Invoke(StateHasChanged);
        }
    }

    public void Dispose()
    {
        server.OscMessageArrived -= OnMessageReceived;
    }

    private void Disable()
    {
        DisplayStatus = "d-none";
    }

    private void Enable()
    {
        DisplayStatus = "param-block";
    }

    protected override void OnInit()
    {
        server.OscMessageArrived += OnMessageReceived;
    }
}
